.person{
    font-family: monospace;
    border:0px solid black;
    border-radius: 10px;
    box-shadow:5px 5px lightslategray;
    background-color:gold;
    width: 300px;
    height: 120px;
    /* for staying fixed in the center of the page in any screen width: */
    text-align: center;
    margin: 0 auto;
}
    .person:hover{
        color: rgb(156, 12, 212);
    }
/* ---------------------------------------- */
input{
    border-radius: 10px;
}

h3{
    padding: 15px;
    margin: 20px;
}

    