
Course#1-Become a Certified Web Developer/Section(5)-Projects/Section(5)-Project(2)-JavaScript Variables/JSvariable.html
Course#1-Become a Certified Web Developer/Section(4)-Projects/Section(4)-Project(10)-CSS Grids/CSS Grid Tutorial _ CSS Grid Crash Course.mp4
