.app{
  text-align: center;
  font-family: monospace;
}
body{
  background-color:rgb(190, 160, 238);

}
/* h1{
  color:rgb(107, 20, 148);
}
  h1:hover{
    color:gold;
  } */

.red{
  color: red;
}  
.bold{
  font-weight: bold;
}