body{
    font-family: "Jost", sans-serif;
    font-size: 1.6rem;
    color:#4c4f52;
    background-color:#f9fbfc;
    margin: 10px;
    padding:30px;}
    
    body table{
        color: black;
    }

#fontstyel{
    font-style: italic;
    font-weight: bolder;
    color:#4c4f52;}

#table-styles{
display: flex;
flex-direction: column;
font-weight: bolder;

}

